.root{
  -fx-background-color: #1c334a;
  -fx-font-size: 12pt;
}
.label{
  -fx-font-family: Oxygen;
  -fx-text-fill: #ec6a13;
}
.button{
  -fx-background-color: #1c334a;
  -fx-background-radius: 22;
  -fx-font-size: 16;
  -fx-text-fill:  #ec6a13;
  -fx-border-color: #ec6a13;
  -fx-border-radius: 20;
  -fx-border-width: 1;
}
.button:hover{
  -fx-background-color: white;
  -fx-background-radius: 22;
  -fx-font-size: 16;
  -fx-text-fill:  #ec6a13;
  -fx-border-color: #ec6a13;
  -fx-border-radius: 20;
  -fx-border-width: 1;
}
.button:pressed{
  -fx-background-color: none;
  -fx-background-radius: 22;
  -fx-font-size: 16;
  -fx-text-fill:  #ec6a13;
  -fx-border-color:  #ec6a13;
  -fx-border-radius: 20;
  -fx-border-width: 1;
}
