.root{
  -fx-background-color: #1c334a;
  -fx-font-size: 16pt;
}
.label{
  -fx-font-family: Oxygen;
  -fx-text-fill: #ec6a13;
}

.button{
  -fx-background-color: #1c334a;
  -fx-font-size: 16;
  -fx-text-fill:  #ec6a13;
  -fx-border-color: #ec6a13;

}
.button:hover{
  -fx-background-color: grey;
  -fx-font-size: 16;
  -fx-text-fill:  #ec6a13;
  -fx-border-color: #ec6a13;

}
.button:pressed{
  -fx-background-color: none;
  -fx-font-size: 16;
  -fx-text-fill:  #ec6a13;
  -fx-border-color:  #ec6a13;

}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.check-box .box {
  -fx-background-color: grey;
  -fx-border-color: none ;
}
.check-box .box .mark{
  -fx-padding: 5px;

}
.check-box .mark:active {
  -fx-background-color: #ec6a13;
  -fx-border-color: #ec6a13 ;
}
.menu-button .label {
    -fx-text-fill: #ec6a13;
    -fx-font-size: 12pt;
}
.menu-button {
    -fx-background-color: #1c334a;
    -fx-pref-width: 120;
    -fx-pref-heigh: 20;
    -fx-border-color: #ec6a13;
}
.text-field{
      -fx-background-color: #1c334a;
      -fx-border-color: #ec6a13;
      -fx-prompt-text-fill: grey;
      -fx-font-size: 12pt;
      -fx-text-fill: #ec6a13;
      -fx-pref-width: 100;
      -fx-pref-heigh: 20;
      -fx-border-width: 0 0 1 0;
}
